In [21]:
import pandas as pd
from scipy import stats
import numpy as np

In [22]:
glass_df=pd.read_csv('glass.csv')

In [23]:
glass_df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [24]:
glass_df.shape

(214, 10)

In [25]:
#zscore 
zscores=stats.zscore(glass_df)
zscores

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,0.872868,0.284953,1.254639,-0.692442,-1.127082,-0.671705,-0.145766,-0.352877,-0.586451,-0.848275
1,-0.249333,0.591817,0.636168,-0.170460,0.102319,-0.026213,-0.793734,-0.352877,-0.586451,-0.848275
2,-0.721318,0.149933,0.601422,0.190912,0.438787,-0.164533,-0.828949,-0.352877,-0.586451,-0.848275
3,-0.232831,-0.242853,0.698710,-0.310994,-0.052974,0.112107,-0.519052,-0.352877,-0.586451,-0.848275
4,-0.312045,-0.169205,0.650066,-0.411375,0.555256,0.081369,-0.624699,-0.352877,-0.586451,-0.848275
...,...,...,...,...,...,...,...,...,...,...
209,-0.704815,0.898681,-1.865511,2.881125,-0.052974,-0.640968,0.157088,1.783978,-0.586451,2.010478
210,-0.500178,1.856097,-1.865511,1.094342,0.529374,-0.763919,-0.392276,2.852405,-0.586451,2.010478
211,0.754046,1.168721,-1.865511,1.154570,0.995252,-0.763919,-0.364103,2.953200,-0.586451,2.010478
212,-0.612399,1.193270,-1.865511,0.993960,1.241133,-0.763919,-0.335931,2.812087,-0.586451,2.010478
213,-0.414363,1.009152,-1.865511,1.275028,0.917606,-0.763919,-0.237327,3.013677,-0.586451,2.010478

In [35]:
threshold=2
np.where(zscores>threshold)

(array([  5,  44,  47,  56,  71, 103, 105, 105, 105, 106, 106, 106, 106,
        107, 107, 109, 110, 110, 111, 111, 112, 112, 118, 131, 131, 135,
        145, 162, 163, 163, 170, 171, 171, 172, 172, 173, 174, 175, 180,
        184, 184, 185, 185, 186, 186, 187, 188, 189, 189, 189, 190, 191,
        192, 192, 193, 193, 194, 194, 195, 195, 196, 196, 197, 198, 198,
        199, 199, 200, 200, 201, 201, 201, 202, 203, 203, 204, 205, 205,
        206, 206, 207, 207, 208, 208, 209, 209, 210, 210, 211, 211, 212,
        212, 213, 213]),
 array([8, 8, 0, 8, 8, 0, 0, 6, 8, 0, 6, 7, 8, 0, 6, 4, 0, 6, 0, 6, 0, 6,
        8, 0, 6, 8, 8, 8, 3, 7, 6, 3, 5, 3, 5, 6, 8, 8, 4, 1, 4, 7, 9, 7,
        9, 9, 9, 1, 7, 9, 9, 9, 3, 9, 7, 9, 7, 9, 3, 9, 3, 9, 9, 3, 9, 3,
        9, 1, 9, 4, 5, 9, 9, 7, 9, 9, 7, 9, 7, 9, 7, 9, 3, 9, 3, 9, 7, 9,
        7, 9, 7, 9, 7, 9]))

In [37]:
zscores.loc[5][8]

2.0881497679235133

In [38]:
zscores.loc[44][8]

2.4996267940152554

In [39]:
glass_df[(zscores<threshold).all(axis=1)]

          RI     Na    Mg    Al     Si     K     Ca   Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06   8.75  0.0  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48   7.83  0.0  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39   7.78  0.0  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57   8.22  0.0  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55   8.07  0.0  0.0     1
..       ...    ...   ...   ...    ...   ...    ...  ...  ...   ...
178  1.51829  14.46  2.24  1.62  72.38  0.00   9.26  0.0  0.0     6
179  1.51852  14.09  2.19  1.66  72.67  0.00   9.32  0.0  0.0     6
181  1.51888  14.99  0.78  1.74  72.50  0.00   9.95  0.0  0.0     6
182  1.51916  14.15  0.00  2.09  72.74  0.00  10.88  0.0  0.0     6
183  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.0  0.0     6

[158 rows x 10 columns]